@import "tailwindcss";
@layer components {
  .animate-my-shrink {
    animation: shrink 0.4s linear;
  }
}

@keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.4);
    }
}
